header.header(data-scroll data-scroll-sticky data-scroll-target="#scroll")
	.container

		nav.header__nav--desktop
			.header__nav-list
				each object, key in data.header.menu
					a.header__nav-link.js-to-anchor-desktop(
						href=object.url
						data-link=key
						data-scroll-to
					)
						span
							!= object.name

		button.header__burger.header__burger--mobile.btn.js-burger(type="button")
			span
			span
			span

		nav.header__menu
			.header__list
				each object, key in data.header.menu
					a.header__link.js-to-anchor(
						href=object.url
						data-link=key
					)
						!= object.name

			img.header__menu-icon(
					alt="preloader"
					src=`${baseDir}/images/menu.png` 
					srcset=`${baseDir}images/menu.png 1x, ${baseDir}images/menu@2x.png  2x`
				)