main
	section.hero(id="about")
		.container
			img.hero__logo(
					
					alt="Logo", 
					src=`${baseDir}images/logo.png` 
					srcset=`${baseDir}images/logo.png 1x, ${baseDir}images/Logo@2x.png  2x`
				)
			.hero__wrap
				.hero__about
					h1.hero__title
						!= data.title
						br
						!= data.jobname
					p.hero__desc
						!= data.description
					 
				.hero__contact
					ul.hero__links
						li.hero__link
							a(href=`mailto:${data.mail}`) 
								!= data.mail
						li.hero__link
							a(href=`tel:${data.phonelink}`)
								!= data.phone
						li.hero__link 
							!= data.city
					ul.hero__social
						each object, key in data.share.list
							li
								a.hero__sharelink(
									href=object.url
									data-share=`${object.name}`
								)
									span.visually-hidden 
										!= object.name

									+svg(object.name)
	section.resume(id="resume")
		.container 
			.resume__wrap
				.job
					h2.resume__title 
						!= data.job.title
					ul.job__list
						each object, key in data.job.list
							li.job__item
								span.job__time 
									!= object.period
								h3.job__title 
									!= object.name
									img.job__icon(src=`${baseDir}images/${object.icon}` alt=`${object.name}`)
								if object.company
									.job__name
										if object.logo
											img.job__logo(
													alt=`${object.company}`
													src=`${baseDir}images/${object.logo}.png` 
													srcset=`${baseDir}images/${object.logo}.png 1x, ${baseDir}images/${object.logo}@2x.png  2x`
												)
										span.job__company 
											span.job__brand
												!= object.company
											if object.logo
												span.job__desc 
													!= object.description
										
								p.job__text
									!= object.bigdescription
								if object.linkslist
									ul
										each link, key in object.linkslist
											li
												a.job__link(href=`${link.link}` target="_blank") 
													!=link.namelink 	 
				img.resume__human(
						data-scroll 
						data-scroll-speed="6" 
						data-scroll-repeat 
						src=`${baseDir}/images/human.png` 
						srcset=`${baseDir}images/human.png 1x, ${baseDir}images/human@2x.png  2x`
						alt="Human"
					) 					
				.study 
					h2.resume__title 
						!= data.study.title
					ul.study__list
						each object, key in data.study.list
							li.study__item
								img.study__icon(src=`${baseDir}images/icon/${object.icon}` alt=`${object.name}`)
								h3.study__title 
									!= object.name
								p.study__desc
									!= object.desc
	
	section.skills(id="skills")
		.container
			h2.skills__title 
				!= data.skills.title
			ul.skills__list
				each object, key in data.skills.list
					li.skills__item 
						h3.skills__name 
							!= object.name
						p.skills__desc
							!= object.desc
				

